/*
#9683EC
#7630FF
#7E21D4
#4B0082
#21004B
*/

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

#logo {
    width: 200px;
}

body {
    background: linear-gradient(to bottom right, rgb(8, 0, 20), rgb(0, 0, 0));
    text-align: center;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    margin: auto;
    padding: 0;
}

h1 {
    margin: 0;
    font-family: 'Russo One', sans-serif;
    color: #7630FF;
    font-size: 74px;
}

#indigoTitle {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#stack {
    font-size: 80px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    color: #9683EC;
}

a, p {
    font-family: 'Open Sans', sans-serif;
    color: #7E21D4;
    text-decoration: none;
    margin-top: 10px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 2px;
}

small {
    color: #9683EC;
}

a:hover {
    color: #7630FF;
}

@media only screen and (min-width: 300px) and (max-width: 767px){
    
    body {
        margin-top: 70px;
    }

    #logo {
        width: 240px;
    }

    #indigoTitle {
        align-items: flex-end;
    }

    h1 {
        font-size: 42px;
    }

    #stack {
        font-size: 48px;
    }

    h2 {
        font-size: 1em;
    }
}

@media only screen and (max-width: 812px) and (orientation: landscape){
    
    body {
        margin-top: 20px;
    }
    
    #logo {
        width: 100px;
    }
}

/*
@media only screen and (min-width: 768px) and (max-width: 991px){

}

@media only screen and (min-width: 992px){}
*/